.thumbnailImageSize {
    height: 320px;
    width: 360px;
    box-shadow: 4.0px 8.0px 8.0px hsl(0deg 0% 0% / 0.38);
}

.pantherText {
    transform: rotate(-90deg);
    margin-bottom: 45px;
    font-size: 32px;
    position: absolute;
    left: 180px;
}

.titleText {
    text-align: center;
    font-size: 40px;
}

.overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;

  object-fit: cover;
  opacity: 0.12;

  mix-blend-mode: screen; /* TRY: screen, overlay, soft-light */
}

.small {
    font-size: 12px;
}

.milliMargins {
    margin-left: 2px;
    margin-bottom: 4px;
}

.headerContainer {
    padding: 20px;
    border-bottom: 2px solid rgba(234, 240, 255, 0.1);
}